<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ansuria.XFGloss" version="1.0.5.40" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.3" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile" version="0.5.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Analytics" version="0.5.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Client" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Client.SQLiteStore" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Crashes" version="0.5.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="xamarinios10" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.2" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.2" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.2" targetFramework="xamarinios10" />
  <package id="System.Collections" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Globalization" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Linq" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="2.3.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Version" version="1.0.0.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.8.1" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="2.6.0.12-beta" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.iOS" version="4.18.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.184-pre1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.CarouselView" version="2.3.0-pre2" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.20.3" targetFramework="xamarinios10" />
</packages>