<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AndHUD" version="1.2.0" targetFramework="MonoAndroid60" />
  <package id="Ansuria.XFGloss" version="1.0.5.40" targetFramework="monoandroid60" />
  <package id="Microsoft.Azure.Mobile" version="0.6.0" targetFramework="monoandroid60" />
  <package id="Microsoft.Azure.Mobile.Analytics" version="0.6.0" targetFramework="monoandroid60" />
  <package id="Microsoft.Azure.Mobile.Client" version="3.1.0" targetFramework="monoandroid60" />
  <package id="Microsoft.Azure.Mobile.Client.SQLiteStore" version="3.1.0" targetFramework="monoandroid60" />
  <package id="Microsoft.Azure.Mobile.Crashes" version="0.6.0" targetFramework="monoandroid60" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="MonoAndroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="MonoAndroid60" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="MonoAndroid60" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.2" targetFramework="monoandroid60" />
  <package id="SQLitePCLRaw.core" version="1.1.2" targetFramework="monoandroid60" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.2" targetFramework="monoandroid60" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.2" targetFramework="monoandroid60" />
  <package id="Xam.Plugin.Connectivity" version="2.3.0" targetFramework="monoandroid60" />
  <package id="Xam.Plugin.Version" version="1.0.0.0" targetFramework="MonoAndroid60" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.8.1" targetFramework="monoandroid60" />
  <package id="Xam.Plugins.Settings" version="2.5.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Forms" version="2.3.3.180" targetFramework="monoandroid60" />
  <package id="Xamarin.Forms.CarouselView" version="2.3.0-pre2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.2" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.2" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Gcm" version="29.0.0.2" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Measurement" version="29.0.0.2" targetFramework="MonoAndroid60" />
</packages>